h1 {
    color: rgba(0, 200, 100, 1);
    border: 2px solid rgb(255, 100, 80);
}
/*width
color
style
*/
h4 {
    background: rgb(255, 100, 80);
}

body {
    background: url("http://wallpapercave.com/wp/130GzNN.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}