p {
    /*border*/
    border: 2px solid blue;
    /*width and height*/
    width: 50%;
    /*padding*/
    padding-left: 40px;
    /*Margin*/
    /*margin-top: 500px;*/
    /*margin: 20px 40px 500px 100px;*/
    /*margin: 0 auto 0 auto;*/
    margin: 0 auto;
    margin: 50px 20px;
    
}